.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.appointment{
    gap: 20px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.modalDelete{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: rgb(31, 10, 107);
}